#cloud-config
merge_how:
  - name: list
    settings:
      - append
  - name: dict
    settings:
      - no_replace
      - recurse_list

vendor_data:
  enabled: false

apt:
  preserve_sources_list: true

write_files:
  - path: /etc/sudoers.d/users-pkg-install
    owner: root:root
    permissions: "0440"
    content: |
      Cmnd_Alias PAC_CACHE   = /usr/bin/pacman -Sy
      Cmnd_Alias PAC_SEARCH  = /usr/bin/pacman -Ss *
      Cmnd_Alias PAC_INSTALL = /usr/bin/pacman -S *
      Cmnd_Alias APT_CACHE   = /usr/bin/apt update
      Cmnd_Alias APT_SEARCH  = /usr/bin/apt-cache search *
      Cmnd_Alias APT_INSTALL = /usr/bin/apt install *, /usr/bin/apt-get install *
      %users ALL=(root) PAC_CACHE, PAC_SEARCH, PAC_INSTALL, APT_CACHE, APT_SEARCH, APT_INSTALL
