#cloud-config
merge_how:
  - name: list
    settings:
      - append
  - name: dict
    settings:
      - no_replace
      - recurse_list

vendor_data:
  enabled: false

apt:
  preserve_sources_list: true

growpart:
  mode: "off"
resize_rootfs: false
